# WebRTC Signaling Server URL (Defaults to localhost:3001 if omitted)
VITE_SIGNALING_URL="ws://localhost:3001"

# Express Backend API URL (Defaults to localhost:8080 if omitted)
VITE_API_URL="http://localhost:8080"
